body {
    margin: 10px;
    /*padding: 5px;*/
    white-space: nowrap;
    max-width: 600px;
    min-width: 400px;
}

#currentVideoLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

#currentTimeLabel {
    display: inline-block;
    text-align: right;
    font-weight: 500;
    padding-top: 1px;
}

.primaryTitle {
    font-size: 1.25rem;
}

.secondaryTitle {
    font-size: 1rem;
}

.info {
    font-size: 0.75rem;
}

img {
    width: 23px;
}

.button {
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
    -webkit-transform: scale(1.10, 1.10);
    transform: scale(1.10, 1.10);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button:hover::after {
    opacity: 1;
}

.button:active {
    background-color: #d9d9d9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

#tracklistToggleButton {
    grid-column: 2;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

/*#tracklistToggleButton:hover {*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
/*}*/

/*#tracklistToggleButton span {*/
    /*display: block;*/
    /*text-align: center;*/
    /*line-height: 13px;*/
    /*font-size: 8pt;*/
/*}*/

#tracklistContainer {
    margin-top: 10px;
    overflow: auto;
    max-height: 200px;
    font-size: 9pt;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
}

#tracklistTable {
    width: 100%;
}

#tracklistTable th, #tracklistTable td {
    padding: 2px 5px;
}

#lowerBar {
    display: grid;
    grid-auto-columns: 1fr;
    margin-top: 8px;
}

.trackNumColumn {
    min-width: 10%;
    width: 10%;
    max-width: 10%;
}
.trackNameColumn {
    min-width: 70%;
    width: 70%;
    max-width: 80%;
}
.trackTimeColumn {
    min-width: 10%;
    width: 15%;
    max-width: 15%;
    text-align: right;
}