body {
    white-space: nowrap;
    max-width: 500px;
    min-width: 500px;
}


/* TOP RIGHT BUTTONS */
#refreshButtonContainer {
    float: right;
}

#refreshButtonContainer img {
    float: right;
    cursor: pointer;
    padding: 5px;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

#refreshButtonContainer img:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#refreshButton {
    margin-right: 7px;
    height: 35px;
    width: 35px;
}

#refreshButton.buttonActive {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    border: #AAAAAA solid 1px;
}

#refreshButton:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

#settingsButton {
    margin: 7px;
    height: 25px;
    width: 25px;
}


/* LABELS */
h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    padding: 5px;
}

#currentTrackLabel {
    margin-bottom: 0;
    text-shadow: 0 0 2px #AAAAAA;
}

#currentVideoLabel {
    text-shadow: 0 0 1px #BBBBBB;
}

.primaryTitle {
    font-size: 1.25rem;
    text-shadow: 0 0 1px #BBBBBB;
}

.secondaryTitle {
    margin-top: 0;
    font-size: 1rem;
}

.info {
    font-size: 0.85rem;
}

.breakFloat {
    clear: both;
}


/* TRACKLIST */
#tracklistContainer {
    font-size: 10pt;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    max-height: 250px;
    box-shadow: 0 0 3px #888888;
}

#tracklistTable {
    text-shadow: 0 0 1px #CCCCCC;
    width: 100%;
    cursor: pointer;
}

#tracklistTable tr {
    min-height: 5px;
}

#tracklistTable th, #tracklistTable td {
    padding: 2px 5px;
}

.trackNumColumn {
    min-width: 10%;
    width: 10%;
    max-width: 10%;
}
.trackNameColumn {
    min-width: 70%;
    width: 70%;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trackTimeColumn {
    min-width: 10%;
    width: 15%;
    max-width: 15%;
    text-align: right;
}

#currentTrackInPlaylist {
    font-weight: 700;
}


/* UNDER THE TRACKLIST */
img {
    width: 23px;
}

.button {
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button::after {
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
    -webkit-transform: scale(1.10, 1.10);
    transform: scale(1.10, 1.10);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button:hover::after {
    opacity: 1;
}

.button:active {
    background-color: #d9d9d9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

#lowerBar {
    display: grid;
    grid-auto-columns: 1fr;
    margin: 5px 5px 5px 5px;
}

#currentTimeLabel {
    display: inline-block;
    text-align: right;
    font-weight: 500;
    padding-top: 1px;
    text-shadow: 0 0 1px #BBBBBB;
}
